<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Critiche ricevute riguardo i suoi viaggi</p>

<p class="descrizione" data-aos="fade-down" data-aos-duration="800">
    Greta Thunberg ha adottato uno stile di vita sostenibile e a basso impatto ecologico;
    questo, purtroppo, ha scatenato diverse critiche da parte dei media. Diverse persone, infatti, 
    l'hanno accusata di ipocrisia, sottolineando che ha ricevuto l'attenzione dei media solo per 
    i mezzi che usa per viaggiare a livello internazionale per partecipare a eventi e conferenze 
    sul clima, poiché per muoversi per lunghi tragitti preferisce l'utilizzo di treni o barche a 
    vela per ridurre l'impatto ambientale. Alcuni, inoltre, considerano i suoi sforzi per ridurre le 
    emissioni banali rispetto alle emissioni generate da questi eventi internazionali.
</p>

<img data-aos="fade-right" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/greta_barca.jpg" style="margin-top:15px;">

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Critiche ricevute riguardo la sua giovane età e esperienza</p>

<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    Inoltre, Greta ha ricevuto molte critiche per la sua giovane età e per la sua mancanza di esperienza 
    scientifica riguardo il cambiamento climatico e il surriscaldamento globale. Alcuni, per questo, hanno messo in 
    dubbio la sua capacità di trovare soluzioni concrete alla crisi climatica, sostenendo che le sue tesi e i suoi discorsi 
    dovrebbero essere posti in secondo piano rispetto a quelli di scienziati o esperti del settore. Queste voci, comunque, 
    sono state smentite da Greta stessa, che ha sempre sottolineato di non essere un'esperta, ma di basare i suoi discorsi 
    su dati scientifici e su ricerche condotte da esperti del settore, oltre a sottolineare che la sua giovane età non 
    dovrebbe essere un ostacolo per la sua voce.
</p>

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Come ha reagito Greta?</p>

<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    Nonostante le critiche, Greta Thunberg ha continuato negli anni a battersi per la tutela dell'ambiente, 
    criticando i governi per la loro inerzia sul cambiamento climatico. Ha inoltre continuato a partecipare 
    a eventi e conferenze internazionali, oltre a organizzare eventi per i giovani, continuando a sostenere 
    che la sua giovane età non dovrebbe essere fonte di critiche ma dovrebbe essere fonte di ispirazione per 
    i giovani di tutto il mondo. Il suo stile di vita sostenibile e il suo attivismo hanno infatti ispirato 
    molti giovani a seguire il suo esempio e a lottare per la tutela dell'ambiente.
</p>

<img data-aos="fade-right" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/greta_come_ha_reagito.jpg" style="margin-top:15px;">