<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Cos'è il "Fridays for Future"</p>

<p class="descrizione" data-aos="fade-down" data-aos-duration="800">
    "Fridays for Future", conosciuto in Italia come "Venerdì per il Futuro", è un movimento globale 
    che si è sviluppato in seguito alle azioni di protesta di Greta Thunberg. Il movimento è nato 
    con l'obiettivo di sensibilizzare i giovani sul cambiamento climatico e costringere i governi ad adottare 
    misure urgenti ed efficaci per affrontare questa emergenza.
</p>
<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    L'iniziativa di Greta è iniziata nel 2018, quando ha deciso di scioperare da scuola 
    ogni venerdì per protestare contro il disimpegno dei politici verso il cambiamento climatico. Greta ha attirato l'attenzione dei media 
    stando davanti al parlamento svedese con uno striscione che recitava "sciopero scolastico per il clima", 
    incoraggiando così tanti altri studenti a unirsi alla sua causa.
</p>

<img data-aos="fade-right" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/fridays_for_future_greta.png" style="margin-top:15px;">

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">L'effetto domino che ha provocato</p>

<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    Il movimento, inizialmente rappresentato unicamente da Greta Thunberg, ha pian piano causato un effetto domino a livello" mondiale e ha incoraggiato studenti di diversi paesi 
    a organizzare proteste simili nelle proprie città. Ben presto, il movimento "Fridays for Future" si 
    è diffuso in tutto il mondo e al giorno d'oggi ne fanno parte milioni di giovani che si uniscono allo sciopero scolastico di 
    Greta per chiedere azioni concrete contro il cambiamento climatico. Il movimento cerca di ottenere un 
    cambiamento politico significativo e un'azione decisiva per ridurre le emissioni di gas serra, limitare 
    il riscaldamento globale e proteggere l'ambiente per le generazioni future.
</p>

<p class="descrizione" data-aos="fade-down" data-aos-duration="800">
    Fridays for Future rappresenta una voce importante per le giovani generazioni, e sottolinea il loro 
    impegno e la loro determinazione a raddrizzare la via verso un futuro sostenibile. Attraverso la sua azione collettiva, 
    il movimento cerca di avere un impatto duraturo e promuovere un vero cambiamento per proteggere il nostro pianeta.
</p>

<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/fridays_for_future.jpg" style="margin-top:15px;">