<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Cos'è una comunità energetica?</p>

<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    Una comunità energetica è <span style="color:blue; font-weight:bold">un'entità legale</span> che consiste in un'associazione tra diversi cittadini, pubbliche amministrazioni locali, imprese o attività commerciali che intendono unirse le forze con l'obiettivo di produrre autonomamente, scambiarsi e consumare <span style="color:blue; font-weight:bold">energia proveniente da fonti rinnovabile localmente</span>.
</p>

<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    Una comunità di questo genere è quindi un <span style="color:blue; font-weight:bold">modello altamente innovativo</span> che mira alla formazione di una vera e propria rete elettrica locale, decentralizzata e parallella alla rete nazionale, permettendo così di ridurre i costi di produzione e di distribuzione dell'energia elettrica, oltre a <span style="color:blue; font-weight:bold">ridurre l'impatto ambientale</span>.
</p>

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">I principali obiettivi</p>

<ol>
    <li data-aos="fade-down" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Promuovere l'efficienza energetica</span> Una comunità energetica può mirare a ridurre i consumi energetici dei suoi abitanti attraverso l'adozione di tecnologie e pratiche <strong>più efficienti dal punto di vista energetico</strong>.
    </li>
    <li data-aos="fade-up" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Ridurre le emissioni di gas serra</span> Una comunità energetica può lavorare per ridurre le proprie emissioni di gas serra attraverso l'adozione di <strong>fonti di energia rinnovabile</strong> e l'implementazione di pratiche di conservazione dell'energia.
    </li>
    <li data-aos="fade" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Aumentare l'autonomia energetica</span> Una comunità energetica può mirare a diventare meno dipendente dalle fonti esterne di energia e a produrre una parte significativa della propria <strong>energia a livello locale</strong>.
    </li>
    <li data-aos="fade-down" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Promuovere la resilienza</span> Una comunità energetica può lavorare per diventare più resistente agli eventi climatici estremi e alle interruzioni nell'approvvigionamento energetico attraverso la <strong>diversificazione delle fonti di energia</strong> e l'adozione di pratiche di conservazione dell'energia
    </li>
    <li data-aos="fade" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Sostenere lo sviluppo economico</span> Una comunità energetica può lavorare per creare opportunità di lavoro e sviluppo economico locale attraverso <strong>l'adozione di tecnologie e pratiche energetiche innovative</strong>.
    </li>
</ol>

<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/comunita_energetica.png" style="margin-top:10px;">