<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">La cumunità di Solisca</p>

<p class="descrizione" data-aos="fade-down" data-aos-duration="800">
    Verso l'inizio di quest'anno, il comune di <span style="color:blue; font-weight:bold">Turano Lodigiano</span>, con l'appoggio della società elettrica Sorgenia, ha inaugurato la comunità energetica rinnovabile chiamata "Solisca", che ha come obiettivo quello di garantire energia proveniente da fonti rinnovabili a <strong> famiglie, 1 parrocchia e 9 
    utenze comunali</strong>. Essa si basa sulla produzione elettrica di <span style="color:blue; font-weight:bold">due grandi impianti fotovoltaici</span>, i quali sono potenti complessivamente 45kW e sono installati sulle aree coperte del campo sportivo comunale e di una palestra.
</p>

<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    La comunità è gestita in modo <span style="color:blue; font-weight:bold">totalmente digitale</span> per mezzo di una piattaforma a cui sono collegati diversi sensori, che permettono la misurazione in tempo reale di consumi e produzione. Inoltre, grazie ad un'applicazione dedicata, gli utenti ricevono consigli e informazioni utili <span style="color:blue; font-weight:bold">per utilizzare in modo responsabile l'energia prodotta</span>, oltre che per assumere comportamenti di consumo più sani.
</p>

<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
    Il Regolamento edilizio del Comuned di Turano Lodigiano offre inoltre a cittadini, enti locali, associazioni, cooperative e imprese di <span style="color:blue; font-weight:bold">autoprodurre, auto-consumare, scambiare e vendere energia rinnovabile</span>, trasformando gli utenti finali da semplici pagatori di bollette a soggetti consapevoli e attivi.
</p>

<img data-aos="fade-down" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/solisca.jpg" style="margin-top:30px;">