<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Decreto Milleproroghe</p>
<p class="descrizione" data-aos="fade-down" data-aos-duration="800">
    Il Decreto Milleproroghe, che è una legge italiana, mette in pratica alcune delle raccomandazioni della Direttiva Europea "Renewable Energy Directive" (RED II), in particolare quelle contenute nell'articolo 42bis, che stabilisce legalmente cosa sono le comunità energetiche. Questo decreto italiano permette la creazione di comunità che possono scambiare energia tra di loro per l'autoconsumo collettivo, sia istantaneo che differito.
</p>

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">RED II</p>
<p class="descrizione" data-aos="fade-up" data-aos-duration="800">
La direttiva UE 2018/2001, nota come RED II, fissa un nuovo obiettivo vincolante per l'UE di utilizzo di energie rinnovabili per il 2030, pari almeno al 32%. Essa introduce nuove misure per diversi settori dell'economia, in particolare per il riscaldamento e il raffreddamento e i trasporti, dove i progressi sono stati più lenti. Inoltre, prevede nuove disposizioni che consentono ai cittadini di avere un ruolo attivo nello sviluppo delle energie rinnovabili, permettendo alle comunità energetiche di utilizzare energia rinnovabile per l'autoconsumo.
</p>

<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Direttiva sulle energie rinnovabili</p>
<p class="descrizione" data-aos="fade" data-aos-duration="800">
In cui sono riportate le definizioni di autoconsumo collettivo e di Comunità di Energia Rinnovabile (CER).
</p>

<img data-aos="fade-down" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/leggi_e_obiettivi.webp" style="margin-top:20px;">