<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Cos'è un nZEB</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    Un <span style="color:blue; font-weight:bold">edificio a energia quasi zero</span> (nZEB) è un edificio che ha un impatto minimo sull'ambiente, perché ha un'alta efficienza energetica, utilizzando energia proveniente da fonti rinnovabili prodotta sul posto o nelle vicinanze (magari utilizzando il rivoluzionario modello della <a href = "https://it.wikipedia.org/wiki/Smart_grid" target = "_ blank"> smart grid </a>).
</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    Gli edifici di questo tipo necessitano, inoltre, di un quantità di energia minima per riscaldare, raffreddare, illuminare e alimentare gli apparecchi elettrici, poichè vengono <span style="color:blue; font-weight:bold">progettati in modo da essere altamente efficienti</span> grazie all'utilizzo di apparecchiature innovative per il monitoraggio e la gestione ottimale dell'energia.
</p>
<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    Un nZEB è realizzato secondo i <span style="color:blue; font-weight:bold">principi della progettazione sostenibile e bioclimatica</span>, che prevede l'integrazione dell'edificio in un contesto che permetta di sfruttare al meglio le fonti rinnovabili dispobili, come il sole, il vento e l'acqua, e di garantire un buon livello di ventilazione passiva e di isolamento termico.
</p>
<img data-aos="fade" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/nzeb.jpg" style="margin-top:20px;">
