<p class="titolo_sezione" data-aos="fade-right" data-aos-duration="800">Esempio pratico in Italia</p>

<p data-aos="fade-down" data-aos-duration="800" class="descrizione" style="text-align: center;">
    <span style="color:blue; font-weight:bold">Nel 2018 in Italia erano presenti circa 1400 edifici nZEB</span> (<a href="https://www.ediliziaenergetica.it/nzeb-cosa-sono-normativa-esempi-italiani/" target="_blank">fonte</a>), ma considerando chenel 2017 erano circa 600, <strong>ora dovrebbero essercene molti di più</strong>!
</p>
<p data-aos="fade-left" data-aos-duration="800" class="descrizione" style="text-align: center;">
    Un esempio pratico di nZEB nel mondo è <span style="color:blue; font-weight:bold">“Heliotrope”</span>, un design dalla strana forma che è stato implementato in 3 edifici in Germania. <strong>La sua forma è molto simile ad un cilindro</strong> che ruota su sè stesso secondo la stagione, la posizione del sole e le condizioni meteorologiche, <span style="color:blue; font-weight:bold">con l'obiettivo di produrre efficientemente energia</span> dal sole e per ridurre la necessità di utilizzare termosifoni e refrigeratori. L'acqua calda è prodotta dai pannelli solari in cima all'edificio.
</p>

<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/esempio_nzeb.jpg">