<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Cos'è l'energia rinnovabile?</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia rinnovabile
    </span> è un tipo di energia che viene prodotta grazie allo sfruttamento di determinate fonti energetiche che <strong>non sono soggette a esaurimento</strong>, poichè si rigenerano per natura allo stesso ritmo, se non superiore, di quello con cui vengono sfruttate; esse sono <strong>moltissime</strong>, dal solare all'eolico. Possiamo dire quindi che questo tipo di energia può essere considerata una <strong>buona alternativa</strong> a quella tradizionale, che viene prodotta da fonti non rinnovabili (come i combustibili fossili).<br><br>
</p>
<img data-aos="fade" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/infografica_energia_rinnovabile.avif">