<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Cos'è l'energia rinnovabile?</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    L'energia rinnovabile è una fonte di energia che può essere utilizzata <span style="color:blue; font-weight:bold">senza esaurirsi o ridursi</span>. Esistono diverse fonti di energia rinnovabile, come l'energia solare, l'energia eolica, l'energia idroelettrica, l'energia geotermica e l'energia biologica (come il biometano ottenuto dai rifiuti organici).
</p>
<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    Le fonti di energia rinnovabile sono considerate più sostenibili rispetto alle fonti di energia non rinnovabili, come il petrolio, il gas naturale e il carbone, poiché <span style="color:blue; font-weight:bold">non producono emissioni di gas serra o altri inquinanti</span> durante la generazione di energia da esse. Inoltre, <strng>non si esauriranno mai</strng>, a differenza delle fonti di energia non rinnovabili, che una volta esaurite non potranno essere utilizzate nuovamente.
</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    L'adozione di fonti di energia rinnovabile è considerata <span style="color:blue; font-weight:bold">un modo importante per ridurre le emissioni di gas serra</span> e contribuire a uno sviluppo sostenibile a livello globale.
</p>
<img data-aos="fade-right" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/infografica_energia_rinnovabile.avif" style="margin-top:20px;">