<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Vantaggi delle energie rinnovabili</p>

<ol>
    <li data-aos="fade-up" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Dipendono da diversi fenomeni atmosferici</span>, come nel caso dell'energia solare, che dipende fortemente dall'intensità della luce proveniente dal sole, può rappresentare un problema in alcune zone del globo o in determinati periodi dell'anno (come in Inverno).
    </li>
    <li data-aos="fade" data-aos-duration="800">
        In diversi casi è necessario un <span style="color:blue; font-weight:bold">ampio spazio per la produzione di energia</span>, come nel caso dell'energia eolica, che richiede l'installazione di grandi turbine, o nel caso di quella solare, che a volte richiede l'installazione di grandi pannelli fotovoltaici.
    </li>
    <li data-aos="fade-up" data-aos-duration="800">
        A volte richiedono <span style="color:blue; font-weight:bold">grandi investimenti</span> per la loro realizzazione, poichè gli impianti potrebbero non essere ancora presenti nel mercato.
    </li>
    <li data-aos="fade-up" data-aos-duration="800">
        In alcuni casi, come in quello dell'energia geotermica, la <span style="color:blue; font-weight:bold">conservazione dell'energia prodotta non è facile</span> da effettuare, obbligando al suo immediato sfruttamento.
    </li>
    <li data-aos="fade-down" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Non è ovunque possibile lo sfruttamento</span> delle stesse fonti rinnovabili, portando ad una forte disuguaglianza tra le zone che ne possono usufruire e quelle che non possono farlo.
    </li>
</ol>
<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/svantaggi_image.jpg" style="margin-top:20px;">