<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Energia solare</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia solare
    </span> (o fotovoltaica) è quel tipo di energia che viene ottenuta grazie all'uso di <strong>pannelli solari</strong>, che
    trasformano la luce solare in energia elettrica. Questa energia è molto diffusa, poichè è possibile utilizzarla
    ovunque ci sia <strong>luce solare</strong>, e non è inquinante, poichè non emette gas serra.
</p>

<p data-aos="fade-left" data-aos-duration="800" class="titolo_sezione">Energia eolica</p>
<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia eolica
    </span> è un tipo di energia ottenuta grazie all'uso di <strong>turbine eoliche</strong>, che trasformano l'energia
    delle masse d'aria mosse dal vento in energia elettrica sfruttabile.
</p>

<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Energia idroelettrica</p>
<p data-aos="fade-left" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia idroelettrica
    </span>viene ottenuta grazie all'uso di <strong>centrali idroelettriche</strong> con generatori ad
    asse verticale ed orizzontale, che trasformano l'energia del moto dell'acqua in energia elettrica.
</p>

<p data-aos="fade-left" data-aos-duration="800" class="titolo_sezione">Energia dalle biomasse</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia dalle biomasse
    </span> è un tipo di energia che viene ottenuta grazie all'uso di biomasse, che sono <strong>sostanze organiche</strong>
    provenienti da organismi viventi. Queste sostanze vengono utilizzate per produrre energia elettrica, calore e
    carburante.
</p>

<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Energia geotermica</p>
<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    <span style="color:blue; font-weight:bold">
        L'energia geotermica
    </span>viene ricavata grazie all'uso di apposite apparecchiature, che trasformano l'energia del
    <strong>calore interno della Terra</strong> (proveniente da sorgenti naturali com i geyser) in energia elettrica.
</p>

<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Energia marina</p>
<p data-aos="fade-down" data-aos-duration="800" class="descrizione" style="margin-bottom: 50px;">
    <span style="color:blue; font-weight:bold">
        L'energia marina
    </span> è un tipo di energia che viene ottenuta grazie allo sfruttamento delle <strong>onde</strong> e delle <strong>correnti
        oceaniche</strong>, grazie all'installazione di generatori as asse verticale e orizzontale (come nel caso di
    quella idroelettrica).
</p>