<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Vantaggi delle energie rinnovabili</p>

<ol>
    <li data-aos="fade-down" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Non inquinano</span> quanto le energie di tipo non rinnovabile, per questo gli effetti dannosi sulla salute della popolazione dovuti all'inquinamento vengono abbattutti fino ad essere annullati.
    </li>
    <li data-aos="fade-right" data-aos-duration="800">
        Non si esauriranno perché provengono da fonti illimitate o, che almeno, si autorigenerano; quindi, <span style="color:blue; font-weight:bold">non dipendono dalla diminuzione delle riserve</span> che normalmente avviene con le energie di tipo non rinnovabile.
    </li>
    <li data-aos="fade-left" data-aos-duration="800">
        Sono meno colpiti da problemi portati da <span style="color:blue; font-weight:bold">conflitti</span> geopolitici riguardo l'uso di giacimenti che sono presenti solo in alcuni paesi.
    </li>
    <li data-aos="fade-up" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Non dipendono da grandi fluttuazioni dei prezzi</span> dovute alla scoperta di nuovi giacimenti o all'esaurimento di altri. Qualcosa che accade con i combustibili fossili come il petrolio che può favorire la speculazione nei mercati.
    </li>
    <li data-aos="fade-left" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Stimolano l'autoconsumo</span>, cioè la produzione e l'utilizzo di energia da parte di singoli individui o piccole comunità, che non richiede l'intermediazione di grandi aziende.
    </li>
    <li data-aos="fade-down" data-aos-duration="800">
        <span style="color:blue; font-weight:bold">Possono raggiungere luoghi che non sono raggiungibili</span> con le reti tradizionali di distribuzione dell'energia.
    </li>
</ol>
<img data-aos="fade-down" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/vantaggi_image.jpg">