<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Chi è Greta Thunberg</p>

<p data-aos="fade-up" data-aos-duration="800" class="descrizione">
    Greta Thunberg, nata il 3 gennaio 2003 a Stoccolma, in Svezia, è un'attivista ambientale conosciuta in tutto il mondo 
    per i suoi sforzi per combattere il cambiamento climatico. La sua storia di attivismo inizia nel 2018 quando, all'età 
    di 15 anni, ha iniziato a organizzare proteste scolastiche davanti al parlamento svedese per attirare l'attenzione sulle 
    questioni ambientali.
</p>

<p data-aos="fade-right" data-aos-duration="800" class="descrizione">
    Greta è diventata nota per i suoi discorsi potenti e appassionati, in cui critica apertamente i politici per il loro disimpegno 
    e sottolinea l'urgenza di intraprendere azioni concrete per ridurre le emissioni di gas serra. Ha inoltre tenuto diversi discorsi 
    in occasione di importanti conferenze internazionali, tra cui le Nazioni Unite, il Parlamento europeo e il World Economic Forum.
</p>

<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/greta_thunberg.webp" style="margin-top:15px;">

<p data-aos="fade-right" data-aos-duration="800" class="titolo_sezione">Il simbolo dell’ambientalismo giovanile</p>

<p data-aos="fade-down" data-aos-duration="800" class="descrizione">
    La storia personale e il suo forte attivismo hanno reso, quindi, Greta Thunberg un'icona globale per i movimenti ecologisti e 
    una fonte di speranza per molte persone che aspettano un cambiante reale per affrontare l'emergenza climatica che stiamo vivendo.
    Nonostante la sua giovane età, Greta ha dimostrato una straordinaria determinazione nel difendere la sua causa 
    e rappresenta una figura di profonda consapevolezza e preoccupazione per il futuro; infatti, ha continuato a sostenere l'azione per il clima e 
    promuovere stili di vita sostenibili, riducendo le emissioni personali e scegliendo di viaggiare principalmente in treno o in barca a vela
    invece che in aereo.
</p>

<p data-aos="fade-right" data-aos-duration="800" class="descrizione">
    Grazie al suo forte impegno, infatti, Greta ha ricevuto numerosi riconoscimenti, come il premio "Ambasciatore della coscienza" di Amnesty 
    International nel 2019, oltre alla candidatura al Premio Nobel per la pace del 2019 e del 2020.
</p>

<img data-aos="fade-up" data-aos-duration="800" class="img-fluid mx-auto d-block main_image" src="../assets/img/greta_nobel.webp" style="margin-top:15px;">